In [3]:
import pandas as pd
import numpy as np

Créer une class StandardScaler2 avec comme méthode fit, transform, fit_transform et en attribut un dicitonnaire params_ qui contient la moyenne et l'écart_type de vos données. 
Les données en entrées sont uniquement de array numpy (pas des dataframes) me dire que vous avez terminé avant de faire le bonus.
en bonus :
 - mettre une erreur si on essaye de transform sans avoir de fit
 - permettre au code de fonctionner, peut importe si l'entrée est une numpy array ou une dataframe

## Ecart type
$$\sigma = \sqrt{\frac {1}{N} \sum_{i=1}^N (x_i - \bar{x})^2}$$

### Standarisation:
$$z_{ij} = \frac{x_{ij} - \bar{x}_i}{\sigma_i}$$

avec :

  - $x$ la valeur qu’on veut standardiser (input variable)
  - $\bar{x}$ la moyenne (mean) des observations pour cette feature
  - $\sigma$ est l’ecart-type (Standard Deviation) des observations pour cette feature

In [45]:
class StandardScaler2():

  # def __init__ (self, data):
  #   self.data = data

  def fit(self, data):
    self.params_= {}
    if type(data) == np.ndarray:
      self.params_['moyenne'] = [data.mean()]
      self.params_['ecart_type'] = [data.std()]
      # self.params_['ecart_type'] = sum([(elem - self.params_['moyenne'])**2 for elem in data])/len(data)
    
    elif type(data) == pd.core.frame.DataFrame:
      self.params_['moyenne'] = []
      self.params_['ecart_type'] = []

      for column in data.columns:
        if np.issubdtype(data[column].dtype, np.number):
           self.params_['moyenne'].append(data[column].mean())
           self.params_['ecart_type'].append(data[column].std())
        else:
           self.params_['moyenne'].append(np.nan)
           self.params_['ecart_type'].append(np.nan)


      # self.params_['moyenne'] = [data[column].mean() for column in  data.columns]
      # self.params_['ecart_type'] = [data[column].std() for column in data.columns]

      # for col_nb in range(len(data.columns)):
      #   ecart_type = 0
      #   if (data.dtypes[data.columns[col_nb]] == 'float64' or data.dtypes[data.columns[col_nb]] == 'int64'):

      #     for row_value in data[data.columns[col_nb]]:
      #       # print(row_value)
      #       ecart_type += (row_value - self.params_['moyenne'][col_nb])**2
      #   else:
      #     pass

      # ecart_type = np.sqrt(ecart_type / len(data.columns))
      # self.params_['ecart_type'].append(ecart_type)
    
    else:
      return

  # def transform(self,data):
  #   if(self.params_):
  #     for i in range(len(data.columns)):
  #       for j in range(len(data.columns[i])):
  #         data[data.columns[i]][j] = (data[data.columns[i]][j] - self.params_['moyenne'][i])/self.params_['ecart_type'][i]
  #     return data
  #   else:
  #     print("Vous n'avez pas encore fait le fit")
  #     pass

  def transform(self,data):
    if self.params_:
      # for i in range(len(data.values)):
      #   for j in range(len(data.values[i])):
      #     if (type(data[i,j]) == int or type(data[i,j]) == float):
      #       data.values[i,j] = (data.values[i,j] - self.params_['moyenne'][i])/self.params_['ecart_type'][i]
      # return data
      if type(data) == np.ndarray:
        data = [(ele - self.params_['moyenne'][0])/self.params_['ecart_type'][0] for ele in data]
        return data

      elif type(data) ==  pd.core.frame.DataFrame:
        for i in range(len(data.columns)):
          if np.issubdtype(data[data.columns[i]].dtype, np.number):
            data[data.columns[i]] = (data[data.columns[i]] - self.params_['moyenne'][i])/self.params_['ecart_type'][i]
        return data
      else:
        print("La donnée que vous avez entré n'est pas un array ou un DataFrame")
        return
    else:
      print("Vous n'avez pas encore fait le fit(calculer la moyenne et l'écart-type)")
      return

  def fit_transform(self,data):
    self.fit(self,data).transform(self,data)

In [46]:
data = pd.read_csv("train.csv")
print(type(data) == pd.core.frame.DataFrame)
print(data.shape)

True
(891, 12)

In [47]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [48]:
std = StandardScaler2()

In [49]:
std.fit(data)

In [50]:
std.params_

{'moyenne': [446.0,
  0.3838383838383838,
  2.308641975308642,
  nan,
  nan,
  29.69911764705882,
  0.5230078563411896,
  0.38159371492704824,
  nan,
  32.2042079685746,
  nan,
  nan],
 'ecart_type': [257.3538420152301,
  0.4865924542648585,
  0.8360712409770513,
  nan,
  nan,
  14.526497332334044,
  1.1027434322934275,
  0.8060572211299559,
  nan,
  49.693428597180905,
  nan,
  nan]}

In [51]:
std.transform(data)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,-1.729137,-0.788829,0.826913,"Braund, Mr. Owen Harris",male,-0.530005,0.432550,-0.473408,A/5 21171,-0.502163,NaN,S
1,-1.725251,1.266279,-1.565228,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,0.571430,0.432550,-0.473408,PC 17599,0.786404,C85,C
2,-1.721365,1.266279,0.826913,"Heikkinen, Miss. Laina",female,-0.254646,-0.474279,-0.473408,STON/O2. 3101282,-0.488580,NaN,S
3,-1.717480,1.266279,-1.565228,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,0.364911,0.432550,-0.473408,113803,0.420494,C123,S
4,-1.713594,-0.788829,0.826913,"Allen, Mr. William Henry",male,0.364911,-0.474279,-0.473408,373450,-0.486064,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,1.713594,-0.788829,-0.369158,"Montvila, Rev. Juozas",male,-0.185807,-0.474279,-0.473408,211536,-0.386454,NaN,S
887,1.717480,1.266279,-1.565228,"Graham, Miss. Margaret Edith",female,-0.736524,-0.474279,-0.473408,112053,-0.044356,B42,S
888,1.721365,-0.788829,0.826913,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,0.432550,2.007806,W./C. 6607,-0.176164,NaN,S
889,1.725251,1.266279,-1.565228,"Behr, Mr. Karl Howell",male,-0.254646,-0.474279,-0.473408,111369,-0.044356,C148,C
890,1.729137,-0.788829,0.826913,"Dooley, Mr. Patrick",male,0.158392,-0.474279,-0.473408,370376,-0.492101,NaN,Q