In [4]:
import pandas as pd
import numpy as np

Créer une class StandardScaler2 avec comme méthode fit, transform, fit_transform et en attribut un dicitonnaire params_ qui contient la moyenne et l'écart_type de vos données. 
Les données en entrées sont uniquement de array numpy (pas des dataframes) me dire que vous avez terminé avant de faire le bonus.
en bonus :
 - mettre une erreur si on essaye de transform sans avoir de fit
 - permettre au code de fonctionner, peut importe si l'entrée est une numpy array ou une dataframe

## Ecart type
$$\sigma = \sqrt{\frac {1}{N} \sum_{i=1}^N (x_i - \bar{x})^2}$$

### Standarisation:
$$z_{ij} = \frac{x_{ij} - \bar{x}_i}{\sigma_i}$$

avec :

  - $x$ la valeur qu’on veut standardiser (input variable)
  - $\bar{x}$ la moyenne (mean) des observations pour cette feature
  - $\sigma$ est l’ecart-type (Standard Deviation) des observations pour cette feature

In [35]:
class StandardScaler2():

  def __init__ (self, params_={}):
    self.params_ = params_

  def fit(self, data):
    if type(data) == np.ndarray:
      self.params_['moyenne'] = [data.mean()]
      self.params_['ecart_type'] = [np.std(data-self.params_['moyenne'][0])]
      # self.params_['ecart_type'] = sum([(elem - self.params_['moyenne'])**2 for elem in data])/len(data)
    
    elif type(data) == pd.core.frame.DataFrame:
      self.params_['moyenne'] = []
      self.params_['ecart_type'] = []

      for column in data.columns:
        if np.issubdtype(data[column].dtype, np.number):
           self.params_['moyenne'].append(data[column].mean())
           self.params_['ecart_type'].append(np.std(data[column] - data[column].mean()))
        else:
           self.params_['moyenne'].append(np.nan)
           self.params_['ecart_type'].append(np.nan)

    
    else:
      return
  def transform(self,data):
    if self.params_:

      if type(data) == np.ndarray:
        data = [(ele - self.params_['moyenne'][0])/self.params_['ecart_type'][0] for ele in data]
        return data

      elif type(data) ==  pd.core.frame.DataFrame:
        for i in range(len(data.columns)):
          if np.issubdtype(data[data.columns[i]].dtype, np.number):
            data[data.columns[i]] = (data[data.columns[i]] - self.params_['moyenne'][i])/self.params_['ecart_type'][i]
        return data
      else:
        print("La donnée que vous avez entré n'est pas un array ou un DataFrame")
        return
    else:
      print("Vous n'avez pas encore fait le fit(calculer la moyenne et l'écart-type)")
      return

  def fit_transform(self,data):
    self.fit(self,data).transform(self,data)

In [47]:
data = pd.read_csv("train.csv")
print(type(data) == pd.core.frame.DataFrame)
print(data.shape)

True
(891, 12)

In [48]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [49]:
std = StandardScaler2()

In [50]:
std.fit(data)

In [51]:
std.params_

{'moyenne': [446.0,
  0.3838383838383838,
  2.308641975308642,
  nan,
  nan,
  29.69911764705882,
  0.5230078563411896,
  0.38159371492704824,
  nan,
  32.2042079685746,
  nan,
  nan],
 'ecart_type': [257.20938292890224,
  0.48631931786710086,
  0.8356019334795184,
  nan,
  nan,
  14.516321150817316,
  1.1021244350892825,
  0.8056047612452284,
  nan,
  49.6655344447741,
  nan,
  nan]}

In [52]:
std.transform(data)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,-1.730108,-0.789272,0.827377,"Braund, Mr. Owen Harris",male,-0.530377,0.432793,-0.473674,A/5 21171,-0.502445,NaN,S
1,-1.726220,1.266990,-1.566107,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,0.571831,0.432793,-0.473674,PC 17599,0.786845,C85,C
2,-1.722332,1.266990,0.827377,"Heikkinen, Miss. Laina",female,-0.254825,-0.474545,-0.473674,STON/O2. 3101282,-0.488854,NaN,S
3,-1.718444,1.266990,-1.566107,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,0.365167,0.432793,-0.473674,113803,0.420730,C123,S
4,-1.714556,-0.789272,0.827377,"Allen, Mr. William Henry",male,0.365167,-0.474545,-0.473674,373450,-0.486337,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,1.714556,-0.789272,-0.369365,"Montvila, Rev. Juozas",male,-0.185937,-0.474545,-0.473674,211536,-0.386671,NaN,S
887,1.718444,1.266990,-1.566107,"Graham, Miss. Margaret Edith",female,-0.737041,-0.474545,-0.473674,112053,-0.044381,B42,S
888,1.722332,-0.789272,0.827377,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,0.432793,2.008933,W./C. 6607,-0.176263,NaN,S
889,1.726220,1.266990,-1.566107,"Behr, Mr. Karl Howell",male,-0.254825,-0.474545,-0.473674,111369,-0.044381,C148,C
890,1.730108,-0.789272,0.827377,"Dooley, Mr. Patrick",male,0.158503,-0.474545,-0.473674,370376,-0.492378,NaN,Q

In [61]:
class Standascaler():
    def __init__(self):
        self.params_ = {}
    
    def fit(self, X):
        self.mean_ = np.mean(X, axis=0)
        self.scale_ = np.std(X - self.mean_, axis=0)
        self.params_.update({'mean': self.mean_, 'scale': self.scale_})

    def transform(self, X):
        return (X - self.mean_) / self.scale_

    def fit_transform(self, X):
        return self.fit(X).transform(X)

In [62]:
data2 = pd.read_csv("train.csv")
data2 = data2.drop(columns=['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'])

data2.head()

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare
0            1         0       3  22.0      1      0   7.2500
1            2         1       1  38.0      1      0  71.2833
2            3         1       3  26.0      0      0   7.9250
3            4         1       1  35.0      1      0  53.1000
4            5         0       3  35.0      0      0   8.0500

In [63]:
scl = Standascaler()

In [64]:
scl.fit(data2)

In [65]:
scl.transform(data2)

     PassengerId  Survived    Pclass       Age     SibSp     Parch      Fare
0      -1.730108 -0.789272  0.827377 -0.530377  0.432793 -0.473674 -0.502445
1      -1.726220  1.266990 -1.566107  0.571831  0.432793 -0.473674  0.786845
2      -1.722332  1.266990  0.827377 -0.254825 -0.474545 -0.473674 -0.488854
3      -1.718444  1.266990 -1.566107  0.365167  0.432793 -0.473674  0.420730
4      -1.714556 -0.789272  0.827377  0.365167 -0.474545 -0.473674 -0.486337
..           ...       ...       ...       ...       ...       ...       ...
886     1.714556 -0.789272 -0.369365 -0.185937 -0.474545 -0.473674 -0.386671
887     1.718444  1.266990 -1.566107 -0.737041 -0.474545 -0.473674 -0.044381
888     1.722332 -0.789272  0.827377       NaN  0.432793  2.008933 -0.176263
889     1.726220  1.266990 -1.566107 -0.254825 -0.474545 -0.473674 -0.044381
890     1.730108 -0.789272  0.827377  0.158503 -0.474545 -0.473674 -0.492378

[891 rows x 7 columns]

In [66]:
scl.params_

{'mean': PassengerId    446.000000
 Survived         0.383838
 Pclass           2.308642
 Age             29.699118
 SibSp            0.523008
 Parch            0.381594
 Fare            32.204208
 dtype: float64, 'scale': PassengerId    257.209383
 Survived         0.486319
 Pclass           0.835602
 Age             14.516321
 SibSp            1.102124
 Parch            0.805605
 Fare            49.665534
 dtype: float64}